In [1]:
# iterating through the rows of a df - YT short video

In [5]:
import pandas as pd

In [6]:
iris = pd.read_csv('Iris.csv', index_col = 'Id')

In [7]:
iris.head(10)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa
6             5.4           3.9            1.7           0.4  Iris-setosa
7             4.6           3.4            1.4           0.3  Iris-setosa
8             5.0           3.4            1.5           0.2  Iris-setosa
9             4.4           2.9            1.4           0.2  Iris-setosa
10            4.9           3.1            1.5           0.1  Iris-setosa

In [8]:
[x for x in iris['SepalWidthCm']]

[3.5,
 3.0,
 3.2,
 3.1,
 3.6,
 3.9,
 3.4,
 3.4,
 2.9,
 3.1,
 3.7,
 3.4,
 3.0,
 3.0,
 4.0,
 4.4,
 3.9,
 3.5,
 3.8,
 3.8,
 3.4,
 3.7,
 3.6,
 3.3,
 3.4,
 3.0,
 3.4,
 3.5,
 3.4,
 3.2,
 3.1,
 3.4,
 4.1,
 4.2,
 3.1,
 3.2,
 3.5,
 3.1,
 3.0,
 3.4,
 3.5,
 2.3,
 3.2,
 3.5,
 3.8,
 3.0,
 3.8,
 3.2,
 3.7,
 3.3,
 3.2,
 3.2,
 3.1,
 2.3,
 2.8,
 2.8,
 3.3,
 2.4,
 2.9,
 2.7,
 2.0,
 3.0,
 2.2,
 2.9,
 2.9,
 3.1,
 3.0,
 2.7,
 2.2,
 2.5,
 3.2,
 2.8,
 2.5,
 2.8,
 2.9,
 3.0,
 2.8,
 3.0,
 2.9,
 2.6,
 2.4,
 2.4,
 2.7,
 2.7,
 3.0,
 3.4,
 3.1,
 2.3,
 3.0,
 2.5,
 2.6,
 3.0,
 2.6,
 2.3,
 2.7,
 3.0,
 2.9,
 2.9,
 2.5,
 2.8,
 3.3,
 2.7,
 3.0,
 2.9,
 3.0,
 3.0,
 2.5,
 2.9,
 2.5,
 3.6,
 3.2,
 2.7,
 3.0,
 2.5,
 2.8,
 3.2,
 3.0,
 3.8,
 2.6,
 2.2,
 3.2,
 2.8,
 2.8,
 2.7,
 3.3,
 3.2,
 2.8,
 3.0,
 2.8,
 3.0,
 2.8,
 3.8,
 2.8,
 2.8,
 2.6,
 3.0,
 3.4,
 3.1,
 3.0,
 3.1,
 3.1,
 3.1,
 2.7,
 3.2,
 3.3,
 3.0,
 2.5,
 3.0,
 3.4,
 3.0]

In [9]:
for i,row in iris.iterrows():
  print (i, row['SepalLengthCm'])

1 5.1
2 4.9
3 4.7
4 4.6
5 5.0
6 5.4
7 4.6
8 5.0
9 4.4
10 4.9
11 5.4
12 4.8
13 4.8
14 4.3
15 5.8
16 5.7
17 5.4
18 5.1
19 5.7
20 5.1
21 5.4
22 5.1
23 4.6
24 5.1
25 4.8
26 5.0
27 5.0
28 5.2
29 5.2
30 4.7
31 4.8
32 5.4
33 5.2
34 5.5
35 4.9
36 5.0
37 5.5
38 4.9
39 4.4
40 5.1
41 5.0
42 4.5
43 4.4
44 5.0
45 5.1
46 4.8
47 5.1
48 4.6
49 5.3
50 5.0
51 7.0
52 6.4
53 6.9
54 5.5
55 6.5
56 5.7
57 6.3
58 4.9
59 6.6
60 5.2
61 5.0
62 5.9
63 6.0
64 6.1
65 5.6
66 6.7
67 5.6
68 5.8
69 6.2
70 5.6
71 5.9
72 6.1
73 6.3
74 6.1
75 6.4
76 6.6
77 6.8
78 6.7
79 6.0
80 5.7
81 5.5
82 5.5
83 5.8
84 6.0
85 5.4
86 6.0
87 6.7
88 6.3
89 5.6
90 5.5
91 5.5
92 6.1
93 5.8
94 5.0
95 5.6
96 5.7
97 5.7
98 6.2
99 5.1
100 5.7
101 6.3
102 5.8
103 7.1
104 6.3
105 6.5
106 7.6
107 4.9
108 7.3
109 6.7
110 7.2
111 6.5
112 6.4
113 6.8
114 5.7
115 5.8
116 6.4
117 6.5
118 7.7
119 7.7
120 6.0
121 6.9
122 5.6
123 7.7
124 6.3
125 6.7
126 7.2
127 6.2
128 6.1
129 6.4
130 7.2
131 7.4
132 7.9
133 6.4
134 6.3
135 6.1
136 7.7
137 6.3
138 6.4
139 6.0
140 6.9
141 6.7
142 6.9
143 5.8
144 6.8
145 6.7
146 6.7
147 6.3
148 6.5
149 6.2
150 5.9

In [10]:
for rows in iris.itertuples():
    print(rows)

Pandas(Index=1, SepalLengthCm=5.1, SepalWidthCm=3.5, PetalLengthCm=1.4, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=2, SepalLengthCm=4.9, SepalWidthCm=3.0, PetalLengthCm=1.4, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=3, SepalLengthCm=4.7, SepalWidthCm=3.2, PetalLengthCm=1.3, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=4, SepalLengthCm=4.6, SepalWidthCm=3.1, PetalLengthCm=1.5, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=5, SepalLengthCm=5.0, SepalWidthCm=3.6, PetalLengthCm=1.4, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=6, SepalLengthCm=5.4, SepalWidthCm=3.9, PetalLengthCm=1.7, PetalWidthCm=0.4, Species='Iris-setosa')
Pandas(Index=7, SepalLengthCm=4.6, SepalWidthCm=3.4, PetalLengthCm=1.4, PetalWidthCm=0.3, Species='Iris-setosa')
Pandas(Index=8, SepalLengthCm=5.0, SepalWidthCm=3.4, PetalLengthCm=1.5, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=9, SepalLengthCm=4.4, SepalWidthCm=2.9, PetalLengthCm=1.4, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=10, SepalLengthCm=4.9, SepalWidthCm=3.1, PetalLengthCm=1.5, PetalWidthCm=0.1, Species='Iris-setosa')
Pandas(Index=11, SepalLengthCm=5.4, SepalWidthCm=3.7, PetalLengthCm=1.5, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=12, SepalLengthCm=4.8, SepalWidthCm=3.4, PetalLengthCm=1.6, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=13, SepalLengthCm=4.8, SepalWidthCm=3.0, PetalLengthCm=1.4, PetalWidthCm=0.1, Species='Iris-setosa')
Pandas(Index=14, SepalLengthCm=4.3, SepalWidthCm=3.0, PetalLengthCm=1.1, PetalWidthCm=0.1, Species='Iris-setosa')
Pandas(Index=15, SepalLengthCm=5.8, SepalWidthCm=4.0, PetalLengthCm=1.2, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=16, SepalLengthCm=5.7, SepalWidthCm=4.4, PetalLengthCm=1.5, PetalWidthCm=0.4, Species='Iris-setosa')
Pandas(Index=17, SepalLengthCm=5.4, SepalWidthCm=3.9, PetalLengthCm=1.3, PetalWidthCm=0.4, Species='Iris-setosa')
Pandas(Index=18, SepalLengthCm=5.1, SepalWidthCm=3.5, PetalLengthCm=1.4, PetalWidthCm=0.3, Species='Iris-setosa')
Pandas(Index=19, SepalLengthCm=5.7, SepalWidthCm=3.8, PetalLengthCm=1.7, PetalWidthCm=0.3, Species='Iris-setosa')
Pandas(Index=20, SepalLengthCm=5.1, SepalWidthCm=3.8, PetalLengthCm=1.5, PetalWidthCm=0.3, Species='Iris-setosa')
Pandas(Index=21, SepalLengthCm=5.4, SepalWidthCm=3.4, PetalLengthCm=1.7, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=22, SepalLengthCm=5.1, SepalWidthCm=3.7, PetalLengthCm=1.5, PetalWidthCm=0.4, Species='Iris-setosa')
Pandas(Index=23, SepalLengthCm=4.6, SepalWidthCm=3.6, PetalLengthCm=1.0, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=24, SepalLengthCm=5.1, SepalWidthCm=3.3, PetalLengthCm=1.7, PetalWidthCm=0.5, Species='Iris-setosa')
Pandas(Index=25, SepalLengthCm=4.8, SepalWidthCm=3.4, PetalLengthCm=1.9, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=26, SepalLengthCm=5.0, SepalWidthCm=3.0, PetalLengthCm=1.6, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=27, SepalLengthCm=5.0, SepalWidthCm=3.4, PetalLengthCm=1.6, PetalWidthCm=0.4, Species='Iris-setosa')
Pandas(Index=28, SepalLengthCm=5.2, SepalWidthCm=3.5, PetalLengthCm=1.5, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=29, SepalLengthCm=5.2, SepalWidthCm=3.4, PetalLengthCm=1.4, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=30, SepalLengthCm=4.7, SepalWidthCm=3.2, PetalLengthCm=1.6, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=31, SepalLengthCm=4.8, SepalWidthCm=3.1, PetalLengthCm=1.6, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=32, SepalLengthCm=5.4, SepalWidthCm=3.4, PetalLengthCm=1.5, PetalWidthCm=0.4, Species='Iris-setosa')
Pandas(Index=33, SepalLengthCm=5.2, SepalWidthCm=4.1, PetalLengthCm=1.5, PetalWidthCm=0.1, Species='Iris-setosa')
Pandas(Index=34, SepalLengthCm=5.5, SepalWidthCm=4.2, PetalLengthCm=1.4, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=35, SepalLengthCm=4.9, SepalWidthCm=3.1, PetalLengthCm=1.5, PetalWidthCm=0.1, Species='Iris-setosa')
Pandas(Index=36, SepalLengthCm=5.0, SepalWidthCm=3.2, PetalLengthCm=1.2, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=37, SepalLengthCm=5.5, SepalWidthCm=3.5, PetalLengthCm=1.3, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=38, SepalLengthCm=4.9, SepalWidthCm=3.1, PetalLengthCm=1.5, PetalWidthCm=0.1, Species='Iris-setosa')
Pandas(Index=39, SepalLengthCm=4.4, SepalWidthCm=3.0, PetalLengthCm=1.3, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=40, SepalLengthCm=5.1, SepalWidthCm=3.4, PetalLengthCm=1.5, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=41, SepalLengthCm=5.0, SepalWidthCm=3.5, PetalLengthCm=1.3, PetalWidthCm=0.3, Species='Iris-setosa')
Pandas(Index=42, SepalLengthCm=4.5, SepalWidthCm=2.3, PetalLengthCm=1.3, PetalWidthCm=0.3, Species='Iris-setosa')
Pandas(Index=43, SepalLengthCm=4.4, SepalWidthCm=3.2, PetalLengthCm=1.3, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=44, SepalLengthCm=5.0, SepalWidthCm=3.5, PetalLengthCm=1.6, PetalWidthCm=0.6, Species='Iris-setosa')
Pandas(Index=45, SepalLengthCm=5.1, SepalWidthCm=3.8, PetalLengthCm=1.9, PetalWidthCm=0.4, Species='Iris-setosa')
Pandas(Index=46, SepalLengthCm=4.8, SepalWidthCm=3.0, PetalLengthCm=1.4, PetalWidthCm=0.3, Species='Iris-setosa')
Pandas(Index=47, SepalLengthCm=5.1, SepalWidthCm=3.8, PetalLengthCm=1.6, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=48, SepalLengthCm=4.6, SepalWidthCm=3.2, PetalLengthCm=1.4, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=49, SepalLengthCm=5.3, SepalWidthCm=3.7, PetalLengthCm=1.5, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=50, SepalLengthCm=5.0, SepalWidthCm=3.3, PetalLengthCm=1.4, PetalWidthCm=0.2, Species='Iris-setosa')
Pandas(Index=51, SepalLengthCm=7.0, SepalWidthCm=3.2, PetalLengthCm=4.7, PetalWidthCm=1.4, Species='Iris-versicolor')
Pandas(Index=52, SepalLengthCm=6.4, SepalWidthCm=3.2, PetalLengthCm=4.5, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=53, SepalLengthCm=6.9, SepalWidthCm=3.1, PetalLengthCm=4.9, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=54, SepalLengthCm=5.5, SepalWidthCm=2.3, PetalLengthCm=4.0, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=55, SepalLengthCm=6.5, SepalWidthCm=2.8, PetalLengthCm=4.6, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=56, SepalLengthCm=5.7, SepalWidthCm=2.8, PetalLengthCm=4.5, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=57, SepalLengthCm=6.3, SepalWidthCm=3.3, PetalLengthCm=4.7, PetalWidthCm=1.6, Species='Iris-versicolor')
Pandas(Index=58, SepalLengthCm=4.9, SepalWidthCm=2.4, PetalLengthCm=3.3, PetalWidthCm=1.0, Species='Iris-versicolor')
Pandas(Index=59, SepalLengthCm=6.6, SepalWidthCm=2.9, PetalLengthCm=4.6, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=60, SepalLengthCm=5.2, SepalWidthCm=2.7, PetalLengthCm=3.9, PetalWidthCm=1.4, Species='Iris-versicolor')
Pandas(Index=61, SepalLengthCm=5.0, SepalWidthCm=2.0, PetalLengthCm=3.5, PetalWidthCm=1.0, Species='Iris-versicolor')
Pandas(Index=62, SepalLengthCm=5.9, SepalWidthCm=3.0, PetalLengthCm=4.2, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=63, SepalLengthCm=6.0, SepalWidthCm=2.2, PetalLengthCm=4.0, PetalWidthCm=1.0, Species='Iris-versicolor')
Pandas(Index=64, SepalLengthCm=6.1, SepalWidthCm=2.9, PetalLengthCm=4.7, PetalWidthCm=1.4, Species='Iris-versicolor')
Pandas(Index=65, SepalLengthCm=5.6, SepalWidthCm=2.9, PetalLengthCm=3.6, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=66, SepalLengthCm=6.7, SepalWidthCm=3.1, PetalLengthCm=4.4, PetalWidthCm=1.4, Species='Iris-versicolor')
Pandas(Index=67, SepalLengthCm=5.6, SepalWidthCm=3.0, PetalLengthCm=4.5, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=68, SepalLengthCm=5.8, SepalWidthCm=2.7, PetalLengthCm=4.1, PetalWidthCm=1.0, Species='Iris-versicolor')
Pandas(Index=69, SepalLengthCm=6.2, SepalWidthCm=2.2, PetalLengthCm=4.5, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=70, SepalLengthCm=5.6, SepalWidthCm=2.5, PetalLengthCm=3.9, PetalWidthCm=1.1, Species='Iris-versicolor')
Pandas(Index=71, SepalLengthCm=5.9, SepalWidthCm=3.2, PetalLengthCm=4.8, PetalWidthCm=1.8, Species='Iris-versicolor')
Pandas(Index=72, SepalLengthCm=6.1, SepalWidthCm=2.8, PetalLengthCm=4.0, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=73, SepalLengthCm=6.3, SepalWidthCm=2.5, PetalLengthCm=4.9, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=74, SepalLengthCm=6.1, SepalWidthCm=2.8, PetalLengthCm=4.7, PetalWidthCm=1.2, Species='Iris-versicolor')
Pandas(Index=75, SepalLengthCm=6.4, SepalWidthCm=2.9, PetalLengthCm=4.3, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=76, SepalLengthCm=6.6, SepalWidthCm=3.0, PetalLengthCm=4.4, PetalWidthCm=1.4, Species='Iris-versicolor')
Pandas(Index=77, SepalLengthCm=6.8, SepalWidthCm=2.8, PetalLengthCm=4.8, PetalWidthCm=1.4, Species='Iris-versicolor')
Pandas(Index=78, SepalLengthCm=6.7, SepalWidthCm=3.0, PetalLengthCm=5.0, PetalWidthCm=1.7, Species='Iris-versicolor')
Pandas(Index=79, SepalLengthCm=6.0, SepalWidthCm=2.9, PetalLengthCm=4.5, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=80, SepalLengthCm=5.7, SepalWidthCm=2.6, PetalLengthCm=3.5, PetalWidthCm=1.0, Species='Iris-versicolor')
Pandas(Index=81, SepalLengthCm=5.5, SepalWidthCm=2.4, PetalLengthCm=3.8, PetalWidthCm=1.1, Species='Iris-versicolor')
Pandas(Index=82, SepalLengthCm=5.5, SepalWidthCm=2.4, PetalLengthCm=3.7, PetalWidthCm=1.0, Species='Iris-versicolor')
Pandas(Index=83, SepalLengthCm=5.8, SepalWidthCm=2.7, PetalLengthCm=3.9, PetalWidthCm=1.2, Species='Iris-versicolor')
Pandas(Index=84, SepalLengthCm=6.0, SepalWidthCm=2.7, PetalLengthCm=5.1, PetalWidthCm=1.6, Species='Iris-versicolor')
Pandas(Index=85, SepalLengthCm=5.4, SepalWidthCm=3.0, PetalLengthCm=4.5, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=86, SepalLengthCm=6.0, SepalWidthCm=3.4, PetalLengthCm=4.5, PetalWidthCm=1.6, Species='Iris-versicolor')
Pandas(Index=87, SepalLengthCm=6.7, SepalWidthCm=3.1, PetalLengthCm=4.7, PetalWidthCm=1.5, Species='Iris-versicolor')
Pandas(Index=88, SepalLengthCm=6.3, SepalWidthCm=2.3, PetalLengthCm=4.4, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=89, SepalLengthCm=5.6, SepalWidthCm=3.0, PetalLengthCm=4.1, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=90, SepalLengthCm=5.5, SepalWidthCm=2.5, PetalLengthCm=4.0, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=91, SepalLengthCm=5.5, SepalWidthCm=2.6, PetalLengthCm=4.4, PetalWidthCm=1.2, Species='Iris-versicolor')
Pandas(Index=92, SepalLengthCm=6.1, SepalWidthCm=3.0, PetalLengthCm=4.6, PetalWidthCm=1.4, Species='Iris-versicolor')
Pandas(Index=93, SepalLengthCm=5.8, SepalWidthCm=2.6, PetalLengthCm=4.0, PetalWidthCm=1.2, Species='Iris-versicolor')
Pandas(Index=94, SepalLengthCm=5.0, SepalWidthCm=2.3, PetalLengthCm=3.3, PetalWidthCm=1.0, Species='Iris-versicolor')
Pandas(Index=95, SepalLengthCm=5.6, SepalWidthCm=2.7, PetalLengthCm=4.2, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=96, SepalLengthCm=5.7, SepalWidthCm=3.0, PetalLengthCm=4.2, PetalWidthCm=1.2, Species='Iris-versicolor')
Pandas(Index=97, SepalLengthCm=5.7, SepalWidthCm=2.9, PetalLengthCm=4.2, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=98, SepalLengthCm=6.2, SepalWidthCm=2.9, PetalLengthCm=4.3, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=99, SepalLengthCm=5.1, SepalWidthCm=2.5, PetalLengthCm=3.0, PetalWidthCm=1.1, Species='Iris-versicolor')
Pandas(Index=100, SepalLengthCm=5.7, SepalWidthCm=2.8, PetalLengthCm=4.1, PetalWidthCm=1.3, Species='Iris-versicolor')
Pandas(Index=101, SepalLengthCm=6.3, SepalWidthCm=3.3, PetalLengthCm=6.0, PetalWidthCm=2.5, Species='Iris-virginica')
Pandas(Index=102, SepalLengthCm=5.8, SepalWidthCm=2.7, PetalLengthCm=5.1, PetalWidthCm=1.9, Species='Iris-virginica')
Pandas(Index=103, SepalLengthCm=7.1, SepalWidthCm=3.0, PetalLengthCm=5.9, PetalWidthCm=2.1, Species='Iris-virginica')
Pandas(Index=104, SepalLengthCm=6.3, SepalWidthCm=2.9, PetalLengthCm=5.6, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=105, SepalLengthCm=6.5, SepalWidthCm=3.0, PetalLengthCm=5.8, PetalWidthCm=2.2, Species='Iris-virginica')
Pandas(Index=106, SepalLengthCm=7.6, SepalWidthCm=3.0, PetalLengthCm=6.6, PetalWidthCm=2.1, Species='Iris-virginica')
Pandas(Index=107, SepalLengthCm=4.9, SepalWidthCm=2.5, PetalLengthCm=4.5, PetalWidthCm=1.7, Species='Iris-virginica')
Pandas(Index=108, SepalLengthCm=7.3, SepalWidthCm=2.9, PetalLengthCm=6.3, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=109, SepalLengthCm=6.7, SepalWidthCm=2.5, PetalLengthCm=5.8, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=110, SepalLengthCm=7.2, SepalWidthCm=3.6, PetalLengthCm=6.1, PetalWidthCm=2.5, Species='Iris-virginica')
Pandas(Index=111, SepalLengthCm=6.5, SepalWidthCm=3.2, PetalLengthCm=5.1, PetalWidthCm=2.0, Species='Iris-virginica')
Pandas(Index=112, SepalLengthCm=6.4, SepalWidthCm=2.7, PetalLengthCm=5.3, PetalWidthCm=1.9, Species='Iris-virginica')
Pandas(Index=113, SepalLengthCm=6.8, SepalWidthCm=3.0, PetalLengthCm=5.5, PetalWidthCm=2.1, Species='Iris-virginica')
Pandas(Index=114, SepalLengthCm=5.7, SepalWidthCm=2.5, PetalLengthCm=5.0, PetalWidthCm=2.0, Species='Iris-virginica')
Pandas(Index=115, SepalLengthCm=5.8, SepalWidthCm=2.8, PetalLengthCm=5.1, PetalWidthCm=2.4, Species='Iris-virginica')
Pandas(Index=116, SepalLengthCm=6.4, SepalWidthCm=3.2, PetalLengthCm=5.3, PetalWidthCm=2.3, Species='Iris-virginica')
Pandas(Index=117, SepalLengthCm=6.5, SepalWidthCm=3.0, PetalLengthCm=5.5, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=118, SepalLengthCm=7.7, SepalWidthCm=3.8, PetalLengthCm=6.7, PetalWidthCm=2.2, Species='Iris-virginica')
Pandas(Index=119, SepalLengthCm=7.7, SepalWidthCm=2.6, PetalLengthCm=6.9, PetalWidthCm=2.3, Species='Iris-virginica')
Pandas(Index=120, SepalLengthCm=6.0, SepalWidthCm=2.2, PetalLengthCm=5.0, PetalWidthCm=1.5, Species='Iris-virginica')
Pandas(Index=121, SepalLengthCm=6.9, SepalWidthCm=3.2, PetalLengthCm=5.7, PetalWidthCm=2.3, Species='Iris-virginica')
Pandas(Index=122, SepalLengthCm=5.6, SepalWidthCm=2.8, PetalLengthCm=4.9, PetalWidthCm=2.0, Species='Iris-virginica')
Pandas(Index=123, SepalLengthCm=7.7, SepalWidthCm=2.8, PetalLengthCm=6.7, PetalWidthCm=2.0, Species='Iris-virginica')
Pandas(Index=124, SepalLengthCm=6.3, SepalWidthCm=2.7, PetalLengthCm=4.9, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=125, SepalLengthCm=6.7, SepalWidthCm=3.3, PetalLengthCm=5.7, PetalWidthCm=2.1, Species='Iris-virginica')
Pandas(Index=126, SepalLengthCm=7.2, SepalWidthCm=3.2, PetalLengthCm=6.0, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=127, SepalLengthCm=6.2, SepalWidthCm=2.8, PetalLengthCm=4.8, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=128, SepalLengthCm=6.1, SepalWidthCm=3.0, PetalLengthCm=4.9, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=129, SepalLengthCm=6.4, SepalWidthCm=2.8, PetalLengthCm=5.6, PetalWidthCm=2.1, Species='Iris-virginica')
Pandas(Index=130, SepalLengthCm=7.2, SepalWidthCm=3.0, PetalLengthCm=5.8, PetalWidthCm=1.6, Species='Iris-virginica')
Pandas(Index=131, SepalLengthCm=7.4, SepalWidthCm=2.8, PetalLengthCm=6.1, PetalWidthCm=1.9, Species='Iris-virginica')
Pandas(Index=132, SepalLengthCm=7.9, SepalWidthCm=3.8, PetalLengthCm=6.4, PetalWidthCm=2.0, Species='Iris-virginica')
Pandas(Index=133, SepalLengthCm=6.4, SepalWidthCm=2.8, PetalLengthCm=5.6, PetalWidthCm=2.2, Species='Iris-virginica')
Pandas(Index=134, SepalLengthCm=6.3, SepalWidthCm=2.8, PetalLengthCm=5.1, PetalWidthCm=1.5, Species='Iris-virginica')
Pandas(Index=135, SepalLengthCm=6.1, SepalWidthCm=2.6, PetalLengthCm=5.6, PetalWidthCm=1.4, Species='Iris-virginica')
Pandas(Index=136, SepalLengthCm=7.7, SepalWidthCm=3.0, PetalLengthCm=6.1, PetalWidthCm=2.3, Species='Iris-virginica')
Pandas(Index=137, SepalLengthCm=6.3, SepalWidthCm=3.4, PetalLengthCm=5.6, PetalWidthCm=2.4, Species='Iris-virginica')
Pandas(Index=138, SepalLengthCm=6.4, SepalWidthCm=3.1, PetalLengthCm=5.5, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=139, SepalLengthCm=6.0, SepalWidthCm=3.0, PetalLengthCm=4.8, PetalWidthCm=1.8, Species='Iris-virginica')
Pandas(Index=140, SepalLengthCm=6.9, SepalWidthCm=3.1, PetalLengthCm=5.4, PetalWidthCm=2.1, Species='Iris-virginica')
Pandas(Index=141, SepalLengthCm=6.7, SepalWidthCm=3.1, PetalLengthCm=5.6, PetalWidthCm=2.4, Species='Iris-virginica')
Pandas(Index=142, SepalLengthCm=6.9, SepalWidthCm=3.1, PetalLengthCm=5.1, PetalWidthCm=2.3, Species='Iris-virginica')
Pandas(Index=143, SepalLengthCm=5.8, SepalWidthCm=2.7, PetalLengthCm=5.1, PetalWidthCm=1.9, Species='Iris-virginica')
Pandas(Index=144, SepalLengthCm=6.8, SepalWidthCm=3.2, PetalLengthCm=5.9, PetalWidthCm=2.3, Species='Iris-virginica')
Pandas(Index=145, SepalLengthCm=6.7, SepalWidthCm=3.3, PetalLengthCm=5.7, PetalWidthCm=2.5, Species='Iris-virginica')
Pandas(Index=146, SepalLengthCm=6.7, SepalWidthCm=3.0, PetalLengthCm=5.2, PetalWidthCm=2.3, Species='Iris-virginica')
Pandas(Index=147, SepalLengthCm=6.3, SepalWidthCm=2.5, PetalLengthCm=5.0, PetalWidthCm=1.9, Species='Iris-virginica')
Pandas(Index=148, SepalLengthCm=6.5, SepalWidthCm=3.0, PetalLengthCm=5.2, PetalWidthCm=2.0, Species='Iris-virginica')
Pandas(Index=149, SepalLengthCm=6.2, SepalWidthCm=3.4, PetalLengthCm=5.4, PetalWidthCm=2.3, Species='Iris-virginica')
Pandas(Index=150, SepalLengthCm=5.9, SepalWidthCm=3.0, PetalLengthCm=5.1, PetalWidthCm=1.8, Species='Iris-virginica')

In [11]:
# corey schafer pandas series

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('survey_results_public.csv')

In [14]:
df.head(5)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [15]:
df.shape

(88883, 85)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88883 entries, 0 to 88882
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              88883 non-null  int64
 1   MainBranch              88331 non-null  object
 2   Hobbyist                88883 non-null  object
 3   OpenSourcer             88883 non-null  object
 4   OpenSource              86842 non-null  object
 5   Employment              87181 non-null  object
 6   Country                 88751 non-null  object
 7   Student                 87014 non-null  object
 8   EdLevel                 86390 non-null  object
 9   UndergradMajor          75614 non-null  object
 10  EduOther                84260 non-null  object
 11  OrgSize                 71791 non-null  object
 12  DevType                 81335 non-null  object
 13  YearsCode               87938 non-null  object
 14  Age1stCode              87634 non-null  object
 15  YearsCodePro            74331 non-null  object
 16  CareerSat               72847 non-null  object
 17  JobSat                  70988 non-null  object
 18  MgrIdiot                61159 non-null  object
 19  MgrMoney                61157 non-null  object
 20  MgrWant                 61232 non-null  object
 21  JobSeek                 80555 non-null  object
 22  LastHireDate            79854 non-null  object
 23  LastInt                 67155 non-null  object
 24  FizzBuzz                71344 non-null  object
 25  JobFactors              79371 non-null  object
 26  ResumeUpdate            77877 non-null  object
 27  CurrencySymbol          71392 non-null  object
 28  CurrencyDesc            71392 non-null  object
 29  CompTotal               55945 non-null  float64
 30  CompFreq                63268 non-null  object
 31  ConvertedComp           55823 non-null  float64
 32  WorkWeekHrs             64503 non-null  float64
 33  WorkPlan                68914 non-null  object
 34  WorkChallenge           68141 non-null  object
 35  WorkRemote              70284 non-null  object
 36  WorkLoc                 70055 non-null  object
 37  ImpSyn                  71779 non-null  object
 38  CodeRev                 70390 non-null  object
 39  CodeRevHrs              49790 non-null  float64
 40  UnitTests               62668 non-null  object
 41  PurchaseHow             61108 non-null  object
 42  PurchaseWhat            62029 non-null  object
 43  LanguageWorkedWith      87569 non-null  object
 44  LanguageDesireNextYear  84088 non-null  object
 45  DatabaseWorkedWith      76026 non-null  object
 46  DatabaseDesireNextYear  69147 non-null  object
 47  PlatformWorkedWith      80714 non-null  object
 48  PlatformDesireNextYear  77443 non-null  object
 49  WebFrameWorkedWith      65022 non-null  object
 50  WebFrameDesireNextYear  62944 non-null  object
 51  MiscTechWorkedWith      59586 non-null  object
 52  MiscTechDesireNextYear  64511 non-null  object
 53  DevEnviron              87317 non-null  object
 54  OpSys                   87851 non-null  object
 55  Containers              85366 non-null  object
 56  BlockchainOrg           48175 non-null  object
 57  BlockchainIs            60165 non-null  object
 58  BetterLife              86269 non-null  object
 59  ITperson                87141 non-null  object
 60  OffOn                   86663 non-null  object
 61  SocialMedia             84437 non-null  object
 62  Extraversion            87305 non-null  object
 63  ScreenName              80486 non-null  object
 64  SOVisit1st              83877 non-null  object
 65  SOVisitFreq             88263 non-null  object
 66  SOVisitTo               88086 non-null  object
 67  SOFindAnswer            87816 non-null  object
 68  SOTimeSaved             86344 non-null  object
 69  SOHowMuchTime           68378 non-null  object
 70  SOAccount               87828 non-null  object
 71  SOPartFreq              74692 non-null  object
 72  SOJobs                  88066 non-null  object
 73  EntTeams                87841 non-null  object
 74  SOComm                  88131 non-null  object
 75  WelcomeChange           85855 non-null  object
 76  SONewContent            69560 non-null  object
 77  Age                     79210 non-null  float64
 78  Gender                  85406 non-null  object
 79  Trans                   83607 non-null  object
 80  Sexuality               76147 non-null  object
 81  Ethnicity               76668 non-null  object
 82  Dependents              83059 non-null  object
 83  SurveyLength            86984 non-null  object
 84  SurveyEase              87081 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 57.6+ MB

In [17]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [18]:
df.isnull().sum()

Respondent          0
MainBranch        552
Hobbyist            0
OpenSourcer         0
OpenSource       2041
                ...
Sexuality       12736
Ethnicity       12215
Dependents       5824
SurveyLength     1899
SurveyEase       1802
Length: 85, dtype: int64

In [19]:
# both commands do the same thing

pd.options.display.max_columns = 85
pd.set_option('display.max_columns', 85)

In [20]:
schema_df = pd.read_csv('survey_results_schema.csv')

In [21]:
schema_df

          Column                                       QuestionText
0     Respondent  Randomized respondent ID number (not in order ...
1     MainBranch  Which of the following options best describes ...
2       Hobbyist                            Do you code as a hobby?
3    OpenSourcer        How often do you contribute to open source?
4     OpenSource  How do you feel about the quality of open sour...
..           ...                                                ...
80     Sexuality  Which of the following do you currently identi...
81     Ethnicity  Which of the following do you identify as? Ple...
82    Dependents  Do you have any dependents (e.g., children, el...
83  SurveyLength  How do you feel about the length of the survey...
84    SurveyEase  How easy or difficult was this survey to compl...

[85 rows x 2 columns]

In [22]:
pd.set_option('display.max_rows', 85)

In [23]:
schema_df

                    Column                                       QuestionText
0               Respondent  Randomized respondent ID number (not in order ...
1               MainBranch  Which of the following options best describes ...
2                 Hobbyist                            Do you code as a hobby?
3              OpenSourcer        How often do you contribute to open source?
4               OpenSource  How do you feel about the quality of open sour...
5               Employment  Which of the following best describes your cur...
6                  Country          In which country do you currently reside?
7                  Student  Are you currently enrolled in a formal, degree...
8                  EdLevel  Which of the following best describes the high...
9           UndergradMajor  What was your main or most important field of ...
10                EduOther  Which of the following types of non-degree edu...
11                 OrgSize  Approximately how many people are employed by ...
12                 DevType  Which of the following describe you? Please se...
13               YearsCode  Including any education, how many years have y...
14              Age1stCode  At what age did you write your first line of c...
15            YearsCodePro  How many years have you coded professionally (...
16               CareerSat  Overall, how satisfied are you with your caree...
17                  JobSat  How satisfied are you with your current job? (...
18                MgrIdiot  How confident are you that your manager knows ...
19                MgrMoney  Do you believe that you need to be a manager t...
20                 MgrWant  Do you want to become a manager yourself in th...
21                 JobSeek  Which of the following best describes your cur...
22            LastHireDate  When was the last time that you took a job wit...
23                 LastInt  In your most recent successful job interview (...
24                FizzBuzz  Have you ever been asked to solve FizzBuzz in ...
25              JobFactors  Imagine that you are deciding between two job ...
26            ResumeUpdate  Think back to the last time you updated your r...
27          CurrencySymbol  Which currency do you use day-to-day? If your ...
28            CurrencyDesc  Which currency do you use day-to-day? If your ...
29               CompTotal  What is your current total compensation (salar...
30                CompFreq   Is that compensation weekly, monthly, or yearly?
31           ConvertedComp  Salary converted to annual USD salaries using ...
32             WorkWeekHrs   On average, how many hours per week do you work?
33                WorkPlan            How structured or planned is your work?
34           WorkChallenge  Of these options, what are your greatest chall...
35              WorkRemote                    How often do you work remotely?
36                 WorkLoc                    Where would you prefer to work?
37                  ImpSyn  For the specific work you do, and the years of...
38                 CodeRev           Do you review code as part of your work?
39              CodeRevHrs  On average, how many hours per week do you spe...
40               UnitTests  Does your company regularly employ unit tests ...
41             PurchaseHow  How does your company make decisions about pur...
42            PurchaseWhat  What level of influence do you, personally, ha...
43      LanguageWorkedWith  Which of the following programming, scripting,...
44  LanguageDesireNextYear  Which of the following programming, scripting,...
45      DatabaseWorkedWith  Which of the following database environments h...
46  DatabaseDesireNextYear  Which of the following database environments h...
47      PlatformWorkedWith  Which of the following platforms have you done...
48  PlatformDesireNextYear  Which of the following platforms have you done...
49      WebFrameWorkedWith  Which of the following web frameworks have you...
50  WebFrameDesireNextYear  Which of the following web frameworks have you...
51      MiscTechWorkedWith  Which of the following other frameworks, libra...
52  MiscTechDesireNextYear  Which of the following other frameworks, libra...
53              DevEnviron  Which development environment(s) do you use re...
54                   OpSys  What is the primary operating system in which ...
55              Containers  How do you use containers (Docker, Open Contai...
56           BlockchainOrg  How is your organization thinking about or imp...
57            BlockchainIs  Blockchain / cryptocurrency technology is prim...
58              BetterLife  Do you think people born today will have a bet...
59                ITperson   Are you the "IT support person" for your family?
60                   OffOn        Have you tried turning it off and on again?
61             SocialMedia        What social media site do you use the most?
62            Extraversion    Do you prefer online chat or IRL conversations?
63              ScreenName                               What do you call it?
64              SOVisit1st  To the best of your memory, when did you first...
65             SOVisitFreq  How frequently would you say you visit Stack O...
66               SOVisitTo  I visit Stack Overflow to... (check all that a...
67            SOFindAnswer  On average, how many times a week do you find ...
68             SOTimeSaved  Think back to the last time you solved a codin...
69           SOHowMuchTime  About how much time did you save? If you're no...
70               SOAccount              Do you have a Stack Overflow account?
71              SOPartFreq  How frequently would you say you participate i...
72                  SOJobs  Have you ever used or visited Stack Overflow J...
73                EntTeams  Have you ever used Stack Overflow for Enterpri...
74                  SOComm  Do you consider yourself a member of the Stack...
75           WelcomeChange  Compared to last year, how welcome do you feel...
76            SONewContent  Would you like to see any of the following on ...
77                     Age  What is your age (in years)? If you prefer not...
78                  Gender  Which of the following do you currently identi...
79                   Trans                    Do you identify as transgender?
80               Sexuality  Which of the following do you currently identi...
81               Ethnicity  Which of the following do you identify as? Ple...
82              Dependents  Do you have any dependents (e.g., children, el...
83            SurveyLength  How do you feel about the length of the survey...
84              SurveyEase  How easy or difficult was this survey to compl...



---


**In basic python either nested lists or lists in a dictionary can be somewhat compared to a dataframe...**


---



---

In [24]:
person = {
    'fname' : 'Suminder',
    'lname' : 'Singh',
    'email' : 'suminder.singh@ex.com'
}

In [25]:
people = {
    'fname' : ['Suminder'],
    'lname' : ['Singh'],
    'email' : ['suminder.singh@ex.com']
}

In [26]:
multiple_people = {
    'fname' : ['Suminder', 'Deepinder', 'Nimrat'],
    'lname' : ['Singh', 'Kaur', 'Kaur'],
    'email' : ['suminder.singh@ex.com', 'dkaur@ex.com', 'nkaur@ex.com']
}

In [27]:
df_multiple_ppl = pd.DataFrame(multiple_people)

In [28]:
df_multiple_ppl

       fname  lname                  email
0   Suminder  Singh  suminder.singh@ex.com
1  Deepinder   Kaur           dkaur@ex.com
2     Nimrat   Kaur           nkaur@ex.com

In [29]:
multiple_people['email']

['suminder.singh@ex.com', 'dkaur@ex.com', 'nkaur@ex.com']

In [30]:
df_multiple_ppl['email'] # dtype -> panda series

0    suminder.singh@ex.com
1             dkaur@ex.com
2             nkaur@ex.com
Name: email, dtype: object

In [31]:
df_multiple_ppl[['lname', 'email']] # dtype -> panda dataframe

   lname                  email
0  Singh  suminder.singh@ex.com
1   Kaur           dkaur@ex.com
2   Kaur           nkaur@ex.com

In [32]:
df_multiple_ppl.email # dot notation

0    suminder.singh@ex.com
1             dkaur@ex.com
2             nkaur@ex.com
Name: email, dtype: object

In [33]:
df_multiple_ppl.columns

Index(['fname', 'lname', 'email'], dtype='object')

In [34]:
df_multiple_ppl.iloc[0]

fname                 Suminder
lname                    Singh
email    suminder.singh@ex.com
Name: 0, dtype: object

In [35]:
df_multiple_ppl.iloc[[0,1]]

       fname  lname                  email
0   Suminder  Singh  suminder.singh@ex.com
1  Deepinder   Kaur           dkaur@ex.com

In [36]:
df_multiple_ppl.iloc[[0,1], 2]

0    suminder.singh@ex.com
1             dkaur@ex.com
Name: email, dtype: object

In [37]:
df_multiple_ppl.iloc[[0,1], [1,2]]

   lname                  email
0  Singh  suminder.singh@ex.com
1   Kaur           dkaur@ex.com

In [38]:
df_multiple_ppl.loc[0]
# loc will use index and column names as arguements... here the index is numerals 0 to n

fname                 Suminder
lname                    Singh
email    suminder.singh@ex.com
Name: 0, dtype: object

In [39]:
df_multiple_ppl

       fname  lname                  email
0   Suminder  Singh  suminder.singh@ex.com
1  Deepinder   Kaur           dkaur@ex.com
2     Nimrat   Kaur           nkaur@ex.com

In [40]:
df_multiple_ppl.loc[[0,1], 'email']

0    suminder.singh@ex.com
1             dkaur@ex.com
Name: email, dtype: object

In [41]:
df_multiple_ppl.loc[[0,1], ['email', 'lname']]

                   email  lname
0  suminder.singh@ex.com  Singh
1           dkaur@ex.com   Kaur

In [45]:
df = pd.read_csv('survey_results_public.csv')
schema_df = pd.read_csv('survey_results_schema.csv')

In [46]:
df.shape

(88883, 85)

In [47]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [48]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [49]:
df.Hobbyist

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [50]:
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [53]:
df.loc[[0, 1, 2], 'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [55]:
df.loc[0:3, 'Hobbyist'] # end index is inclusive here

0    Yes
1     No
2    Yes
3     No
Name: Hobbyist, dtype: object

In [57]:
df.loc[0:2, 'Hobbyist':'Employment']

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time

#### Part 3 - Indexes and their operations in a DF

In [60]:
multiple_people = {
    'fname' : ['Suminder', 'Deepinder', 'Nimrat'],
    'lname' : ['Singh', 'Kaur', 'Kaur'],
    'email' : ['suminder.singh@ex.com', 'dkaur@ex.com', 'nkaur@ex.com']
}

df_tst = pd.DataFrame(multiple_people)

In [61]:
df_tst

       fname  lname                  email
0   Suminder  Singh  suminder.singh@ex.com
1  Deepinder   Kaur           dkaur@ex.com
2     Nimrat   Kaur           nkaur@ex.com

In [62]:
df_tst['email']

0    suminder.singh@ex.com
1             dkaur@ex.com
2             nkaur@ex.com
Name: email, dtype: object

In [64]:
df_tst.set_index('email')

                           fname  lname
email
suminder.singh@ex.com   Suminder  Singh
dkaur@ex.com           Deepinder   Kaur
nkaur@ex.com              Nimrat   Kaur

In [65]:
df_tst

       fname  lname                  email
0   Suminder  Singh  suminder.singh@ex.com
1  Deepinder   Kaur           dkaur@ex.com
2     Nimrat   Kaur           nkaur@ex.com

In [66]:
df_tst.set_index('email', inplace = True)

In [67]:
df_tst.index

Index(['suminder.singh@ex.com', 'dkaur@ex.com', 'nkaur@ex.com'], dtype='object', name='email')

In [70]:
df_tst.loc['suminder.singh@ex.com']

fname    Suminder
lname       Singh
Name: suminder.singh@ex.com, dtype: object

In [71]:
df_tst.loc['suminder.singh@ex.com', 'lname']

'Singh'

In [72]:
df_tst.reset_index(inplace = True)

In [73]:
df_tst

                   email      fname  lname
0  suminder.singh@ex.com   Suminder  Singh
1           dkaur@ex.com  Deepinder   Kaur
2           nkaur@ex.com     Nimrat   Kaur

In [75]:
df = pd.read_csv('survey_results_public.csv', index_col = 'Respondent')

In [76]:
df.head()

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [78]:
df.loc[1]

MainBranch                           I am a student who is learning to code
Hobbyist                                                                Yes
OpenSourcer                                                           Never
OpenSource                The quality of OSS and closed source software ...
Employment                           Not employed, and not looking for work
Country                                                      United Kingdom
Student                                                                  No
EdLevel                                           Primary/elementary school
UndergradMajor                                                          NaN
EduOther                  Taught yourself a new language, framework, or ...
OrgSize                                                                 NaN
DevType                                                                 NaN
YearsCode                                                                 4
Age1stCode                                                               10
YearsCodePro                                                            NaN
CareerSat                                                               NaN
JobSat                                                                  NaN
MgrIdiot                                                                NaN
MgrMoney                                                                NaN
MgrWant                                                                 NaN
JobSeek                                                                 NaN
LastHireDate                                                            NaN
LastInt                                                                 NaN
FizzBuzz                                                                NaN
JobFactors                                                              NaN
ResumeUpdate                                                            NaN
CurrencySymbol                                                          NaN
CurrencyDesc                                                            NaN
CompTotal                                                               NaN
CompFreq                                                                NaN
ConvertedComp                                                           NaN
WorkWeekHrs                                                             NaN
WorkPlan                                                                NaN
WorkChallenge                                                           NaN
WorkRemote                                                              NaN
WorkLoc                                                                 NaN
ImpSyn                                                                  NaN
CodeRev                                                                 NaN
CodeRevHrs                                                              NaN
UnitTests                                                               NaN
PurchaseHow                                                             NaN
PurchaseWhat                                                            NaN
LanguageWorkedWith                          HTML/CSS;Java;JavaScript;Python
LanguageDesireNextYear      C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL
DatabaseWorkedWith                                                   SQLite
DatabaseDesireNextYear                                                MySQL
PlatformWorkedWith                                            MacOS;Windows
PlatformDesireNextYear                              Android;Arduino;Windows
WebFrameWorkedWith                                             Django;Flask
WebFrameDesireNextYear                                         Flask;jQuery
MiscTechWorkedWith                                                  Node.js
MiscTechDesireNextYear                                              Node.js
DevEnviron                                       IntelliJ;Notepad++;PyCharm
OpSys                                                               Windows
Containers                                          I do not use containers
BlockchainOrg                                                           NaN
BlockchainIs                                                            NaN
BetterLife                                                              Yes
ITperson                           Fortunately, someone else has that title
OffOn                                                                   Yes
SocialMedia                                                         Twitter
Extraversion                                                         Online
ScreenName                                                         Username
SOVisit1st                                                             2017
SOVisitFreq                                 A few times per month or weekly
SOVisitTo                 Find answers to specific questions;Learn how t...
SOFindAnswer                                             3-5 times per week
SOTimeSaved                                  Stack Overflow was much faster
SOHowMuchTime                                                 31-60 minutes
SOAccount                                                                No
SOPartFreq                                                              NaN
SOJobs                    No, I didn't know that Stack Overflow had a jo...
EntTeams                                No, and I don't know what those are
SOComm                                                              Neutral
WelcomeChange                       Just as welcome now as I felt last year
SONewContent              Tech articles written by other developers;Indu...
Age                                                                      14
Gender                                                                  Man
Trans                                                                    No
Sexuality                                           Straight / Heterosexual
Ethnicity                                                               NaN
Dependents                                                               No
SurveyLength                                          Appropriate in length
SurveyEase                                       Neither easy nor difficult
Name: 1, dtype: object

In [80]:
schema_df.head()

        Column                                       QuestionText
0   Respondent  Randomized respondent ID number (not in order ...
1   MainBranch  Which of the following options best describes ...
2     Hobbyist                            Do you code as a hobby?
3  OpenSourcer        How often do you contribute to open source?
4   OpenSource  How do you feel about the quality of open sour...

In [82]:
schema_df.set_index('Column', inplace=True)

In [83]:
schema_df.head()

                                                  QuestionText
Column
Respondent   Randomized respondent ID number (not in order ...
MainBranch   Which of the following options best describes ...
Hobbyist                               Do you code as a hobby?
OpenSourcer        How often do you contribute to open source?
OpenSource   How do you feel about the quality of open sour...

In [86]:
schema_df.sort_index().head()

                                                    QuestionText
Column
Age            What is your age (in years)? If you prefer not...
Age1stCode     At what age did you write your first line of c...
BetterLife     Do you think people born today will have a bet...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BlockchainOrg  How is your organization thinking about or imp...

In [90]:
schema_df.loc['MgrIdiot'] # notice diff in output in this and the nxt cell

QuestionText    How confident are you that your manager knows ...
Name: MgrIdiot, dtype: object

In [91]:
schema_df.loc['MgrIdiot', 'QuestionText']

'How confident are you that your manager knows what they’re doing?'

In [92]:
schema_df.sort_index(inplace=True, ascending=False)

In [93]:
schema_df.head()

                                                   QuestionText
Column
YearsCodePro  How many years have you coded professionally (...
YearsCode     Including any education, how many years have y...
WorkWeekHrs    On average, how many hours per week do you work?
WorkRemote                      How often do you work remotely?
WorkPlan                How structured or planned is your work?

#### Part 4 - Filtering

In [94]:
multiple_people = {
    'fname' : ['Suminder', 'Deepinder', 'Nimrat'],
    'lname' : ['Singh', 'Kaur', 'Kaur'],
    'email' : ['suminder.singh@ex.com', 'dkaur@ex.com', 'nkaur@ex.com']
}

df_tst = pd.DataFrame(multiple_people)

In [96]:
df_tst['lname'] == 'Singh' # filter mask

0     True
1    False
2    False
Name: lname, dtype: bool

In [97]:
filt = (df_tst['lname'] == 'Singh')
df_tst[filt]

      fname  lname                  email
0  Suminder  Singh  suminder.singh@ex.com

In [99]:
df_tst[df_tst['lname'] == 'Singh']

      fname  lname                  email
0  Suminder  Singh  suminder.singh@ex.com

In [101]:
df_tst.loc[filt]

      fname  lname                  email
0  Suminder  Singh  suminder.singh@ex.com

In [102]:
df_tst.loc[filt, 'email']

0    suminder.singh@ex.com
Name: email, dtype: object

In [103]:
# operators - &, |, &&

In [106]:
filt_2 = (df_tst['lname'] == 'Kaur') & (df_tst['fname'] == 'Nimrat')
df_tst.loc[filt_2, 'email']

2    nkaur@ex.com
Name: email, dtype: object

In [107]:
df_tst.loc[(df_tst['fname'] == 'Suminder') | (df_tst['fname'] == 'Nimrat'), 'email']

0    suminder.singh@ex.com
2             nkaur@ex.com
Name: email, dtype: object

In [108]:
df_tst.loc[~((df_tst['fname'] == 'Suminder') | (df_tst['fname'] == 'Nimrat')), 'email']
# tilde ~ can be used to reverse

1    dkaur@ex.com
Name: email, dtype: object

In [110]:
df = pd.read_csv('survey_results_public.csv')
schema_df = pd.read_csv('survey_results_schema.csv')

In [111]:
high_salary = df['ConvertedComp'] > 70000

In [114]:
df.loc[high_salary, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
5,Canada,Java;R;SQL,366420.0
8,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
12,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
15,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
21,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
...,...,...,...
88323,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88324,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88325,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88326,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88329,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

In [115]:
countries = ['United States', 'India', 'United Kingdom', 'Germany', 'Canada']

In [122]:
filt_country = df['Country'].isin(countries)
df.loc[filt_country, 'Country']

0        United Kingdom
3         United States
5                Canada
7                 India
9                 India
              ...
88859     United States
88863    United Kingdom
88864             India
88877     United States
88878            Canada
Name: Country, Length: 45008, dtype: object

In [124]:
df.loc[df['LanguageWorkedWith'].str.contains('Python', na=False), 'LanguageWorkedWith']

0                          HTML/CSS;Java;JavaScript;Python
1                                      C++;HTML/CSS;Python
3                                      C;C++;C#;Python;SQL
4              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
7        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
                               ...
88854    Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
88860      Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
88865      Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
88872             C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88876                           HTML/CSS;JavaScript;Python
Name: LanguageWorkedWith, Length: 36443, dtype: object

#### Part 5 - Updating Rows and Columns

In [125]:
multiple_people = {
    'fname' : ['Suminder', 'Deepinder', 'Nimrat'],
    'lname' : ['Singh', 'Kaur', 'Kaur'],
    'email' : ['suminder.singh@ex.com', 'dkaur@ex.com', 'nkaur@ex.com']
}

df_tst = pd.DataFrame(multiple_people)