In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.2.4'

In [3]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 2cb96529396d93b46abab7bbc73a208e708c642e
python           : 3.8.8.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.22000
machine          : AMD64
processor        : Intel64 Family 6 Model 140 Stepping 1, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_India.1252

pandas           : 1.2.4
numpy            : 1.20.1
pytz             : 2021.1
dateutil         : 2.8.1
pip              : 21.0.1
setuptools       : 52.0.0.post20210125
Cython           : 0.29.23
pytest           : 6.2.3
hypothesis       : None
sphinx           : 4.0.1
blosc            : None
feather          : None
xlsxwriter       : 1.3.8
lxml.etree       : 4.6.3
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.3
IPython          : 7.22.0
pandas_datareader: None
bs4              : 4.9.3
bottleneck       : 1.3.2
fsspec           : 0.9.0
fastparquet      : None
gcsfs            : None
matplotlib       : 3.3.4
numexpr          : 2.7.3
odfpy            : None
openpyxl         : 3.0.7
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.6.2
sqlalchemy       : 1.4.7
tables           : 3.6.1
tabulate         : None
xarray           : 0.18.2
xlrd             : 2.0.1
xlwt             : 1.3.0
numba            : 0.53.1

In [5]:
df = pd.DataFrame({'col1' : [100, 200], 'col2' : [350, 550]})

In [6]:
df

   col1  col2
0   100   350
1   200   550

In [8]:
import numpy as np

np.random.rand(2,3)

array([[0.00803504, 0.32595978, 0.8704149 ],
       [0.84762925, 0.82313935, 0.84038058]])

In [11]:
pd.DataFrame(np.random.rand(8,4), columns=list('abcd'))

          a         b         c         d
0  0.411533  0.359732  0.655517  0.734871
1  0.568388  0.115554  0.150424  0.973773
2  0.704996  0.677789  0.698380  0.857924
3  0.683130  0.527280  0.313964  0.722266
4  0.034830  0.565652  0.883562  0.286562
5  0.320054  0.485949  0.763606  0.907219
6  0.006813  0.119608  0.574000  0.988794
7  0.885175  0.167464  0.094657  0.211497

In [25]:
df = pd.DataFrame({'col1' : [100, 200], 'col2' : [350, 550]})

In [26]:
df.rename({'col1' : 'col 1', 'col2' : 'col 2'}, axis='columns', inplace=True)

In [27]:
df

   col 1  col 2
0    100    350
1    200    550

In [28]:
df.columns = df.columns.str.replace(' ', '_')

In [29]:
df

   col_1  col_2
0    100    350
1    200    550

In [30]:
df.add_prefix('X_')

   X_col_1  X_col_2
0      100      350
1      200      550

In [31]:
df.add_suffix('_Y')

   col_1_Y  col_2_Y
0      100      350
1      200      550