In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("C://Users//singh//OneDrive//Documents//active_directory//code_snippets-master//Python//Pandas//10-Datetime-Timeseries//ETH_1h.csv")

In [3]:
df.head(5)

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2  2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3  2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4  2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [5]:
df.dtypes

Date       object
Symbol     object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

In [7]:
pd.to_datetime(df.Date, format='%Y-%m-%d %I-%p')

0       2020-03-13 20:00:00
1       2020-03-13 19:00:00
2       2020-03-13 18:00:00
3       2020-03-13 17:00:00
4       2020-03-13 16:00:00
                ...
23669   2017-07-01 15:00:00
23670   2017-07-01 14:00:00
23671   2017-07-01 13:00:00
23672   2017-07-01 12:00:00
23673   2017-07-01 11:00:00
Name: Date, Length: 23674, dtype: datetime64[ns]

In [8]:
path = "C://Users//singh//OneDrive//Documents//active_directory//code_snippets-master//Python//Pandas//10-Datetime-Timeseries//ETH_1h.csv"
df = pd.read_csv(path, parse_dates=['Date'], date_parser=lambda x: pd.datetime.strptime(x, '%Y-%m-%d %I-%p'))

<ipython-input-8-a54ce62e047c>:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df = pd.read_csv(path, parse_dates=['Date'], date_parser=lambda x: pd.datetime.strptime(x, '%Y-%m-%d %I-%p'))

In [10]:
df.dtypes

Date      datetime64[ns]
Symbol            object
Open             float64
High             float64
Low              float64
Close            float64
Volume           float64
dtype: object

In [11]:
tst_df = pd.read_csv(path)

In [16]:
tst_df['Date'].apply(lambda x: pd.datetime.strptime(x, '%Y-%m-%d %I-%p'))

<ipython-input-16-7c165292c309>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  tst_df['Date'].apply(lambda x: pd.datetime.strptime(x, '%Y-%m-%d %I-%p'))

0       2020-03-13 20:00:00
1       2020-03-13 19:00:00
2       2020-03-13 18:00:00
3       2020-03-13 17:00:00
4       2020-03-13 16:00:00
                ...
23669   2017-07-01 15:00:00
23670   2017-07-01 14:00:00
23671   2017-07-01 13:00:00
23672   2017-07-01 12:00:00
23673   2017-07-01 11:00:00
Name: Date, Length: 23674, dtype: datetime64[ns]

In [17]:
df.dtypes

Date      datetime64[ns]
Symbol            object
Open             float64
High             float64
Low              float64
Close            float64
Volume           float64
dtype: object

In [18]:
df.Date.dt.day_name()

0          Friday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
23669    Saturday
23670    Saturday
23671    Saturday
23672    Saturday
23673    Saturday
Name: Date, Length: 23674, dtype: object

In [20]:
df.loc[0, 'Date'].day_name()

'Friday'

In [21]:
df.Date.dt.day_name()

0          Friday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
23669    Saturday
23670    Saturday
23671    Saturday
23672    Saturday
23673    Saturday
Name: Date, Length: 23674, dtype: object

In [22]:
df.Date.min()

Timestamp('2017-07-01 11:00:00')

In [23]:
df.Date.max()

Timestamp('2020-03-13 20:00:00')

In [24]:
df.Date.max() - df.Date.min()

Timedelta('986 days 09:00:00')

In [26]:
#above is a timedelta object