In [1]:
import pandas as pd

In [2]:
stocks = pd.read_csv('http://bit.ly/smallstocks')

In [3]:
stocks.head(3)

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT

In [4]:
stocks.describe()

            Close        Volume
count    9.000000  9.000000e+00
mean    67.256667  1.924811e+07
std     35.999591  5.132421e+06
min     31.350000  1.180860e+07
25%     31.590000  1.672640e+07
50%     57.420000  1.918950e+07
75%    112.520000  2.145310e+07
max    113.050000  2.973680e+07

In [5]:
stocks.columns

Index(['Date', 'Close', 'Volume', 'Symbol'], dtype='object')

In [6]:
stocks.dtypes

Date       object
Close     float64
Volume      int64
Symbol     object
dtype: object

In [7]:
pd.to_datetime(stocks.Date, format='%Y-%m-%d')

0   2016-10-03
1   2016-10-03
2   2016-10-03
3   2016-10-04
4   2016-10-04
5   2016-10-04
6   2016-10-05
7   2016-10-05
8   2016-10-05
Name: Date, dtype: datetime64[ns]